@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  html {
    @apply transition-colors duration-300;
  }

  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}

@layer utilities {
  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 60s linear infinite;
  }
}


@theme {
  --font-primary: "Open Sans", "sans-serif";

  --color-primary: #FFC001;
  --color-secondary: #FF9C01;


}